.bg_white {
    background-color: #ffffff;
    height: 100%;
    border: 3px solid #00ff21;
    border-radius: 5px;
}
    .bg_white img {
        border: 2px solid #000000;
        border-radius: 5px;
       
    }
