body {
    background-color: #ffff99;
}
h1 {
    color: #a300cc;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3.7rem;
    font-weight: 900;
    text-shadow: 2px 2px #660066;
    line-height: 7rem;
}
@media(max-width:768px){
    h1 {
        font-size:2.2rem;
        
    }
}
